<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template1"
      >
<head>
    <meta charset="UTF-8">
    <title>Students Management</title>

</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-4">

                <form method="get" th:action="@{/user/index}">
                    <label>Chercher un étudiant :</label>
                    <input type="text" name="keyword" placeholder="Nom de l'étudiant"  class="text-success" th:value="${keyword}">
                    <button type="submit" class="btn " style="color:#405f04;"><i class="fas fa-search"></i></button>
                </form>
        <ul class="nav-pills nav">
            <li sec:authorize="hasAuthority('ADMIN')">
                <a class="btn btn-outline-success mt-4" th:href="@{/admin/formStudents}"><i class="fas fa-user-plus"></i></a>
            </li>
        </ul>

                <table class="table">
                    <thead>
                    <tr style="color: #405f04">
                        <th><i class="fa-solid fa-id-card-clip"></i> Id</th>
                        <th><i class="fa-solid fa-universal-access"></i> Nom</th>
                        <th><i class="fa-solid fa-universal-access"></i></i> Prénom</th>
                        <th><i class="fas fa-calendar-alt"></i> Date de Naissance</th>
                        <th><i class="fa-solid fa-at"></i> Email</th>
                        <th><i class="fa-solid fa-venus-mars"></i> Genre</th>
                        <th><i class="fa-solid fa-tags"></i> Etat de régle</th>
                        <th><i class="fa-solid fa-list-check"></i> Oprération</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="s:${listStudents}">
                        <td  style="font-style: italic; color: darkgreen "  th:text="${s.id}"></td>
                        <td th:text="${s.nom}"></td>
                        <td th:text="${s.prenom}"></td>
                        <td th:text="${s.dateNaissance}"></td>
                        <td th:text="${s.email}"></td>
                        <!--<td th:switch="${s.genre}">
                            <span th:case="'FEMININ'" style="color: deeppink"> <i class="fa-solid fa-child-dress"></i> F</span>
                            <span th:case="'MASCULIN'" style="color: blue"> <i class="fa-solid fa-child"></i> M</span>
                        </td>-->
                        <td th:text="${s.genre}"></td>
                        <td th:text="${s.isRegle()}"></td>
                        <td>
                            <a sec:authorize="hasAuthority('ADMIN')" onclick="return confirm('vous etes sur de supprimer cet éudiant?')"
                              style="color: #691818" class="btn"
                               th:href="@{/admin/delete(id=${s.id}, keyword=${keyword}, page=${currentPage})}"><i class="fa-solid fa-delete-left"></i>
                             </a>
                            <a sec:authorize="hasAuthority('ADMIN')" style="color:#227c22;" class="btn"
                               th:href="@{/admin/editStudent(id=${s.id}, keyword=${keyword}, page=${currentPage})}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a style="color:#405f04;" class="btn"
                               th:href="@{/user/listStudent(id=${s.id}, keyword=${keyword}, page=${currentPage})}">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a th:class="${status.index==currentPage?'btn btn-success ms-1':'btn btn-outline-success ms-1'}"
                           th:text="${status.index}"
                           th:href="@{/user/index(page=${status.index},keyword=${keyword})}"></a>
                    </li>

                </ul>



    </div>
</div>
</body>
</html>