
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.nz/thymeleaf/layout"
      layout:decorate="template1"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf.org/extras/spring-security">
>
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.8.1/font/bootstrap-icons.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Liste des étudiants
                <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-success" th:href="@{/admin/add}">
                    <i class="icon-eye">+</i>
                </a>
            </div>
            <div class="card-body">
                <form method="get" th:action="@{/user/index}">
                    <label>Key word</label>
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Date</th>
                        <th>isRegle</th>
                        <th>genre</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p:${ListStudents}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.nom}"></td>
                        <td th:text="${p.dateNaissance}"></td>
                        <td th:text="${p.isRegle}"></td>
                        <td th:text="${p.genre}"></td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <a onclick="return confirm('Etes vous sure ?')" class="btn btn-danger" th:href="@{/admin/delete(id=${p.id}, keyword=${keyword}, page=${currentPage})}">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <a class="btn btn-warning" th:href="@{/admin/update(id=${p.id}, page=${currentPage}, keyword=${keyword})}">
                                <i class="bi bi-pen"></i>
                            </a>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                           th:text="${status.index}"
                           th:href="@{/user/index(page=${status.index}, keyword=${keyword})}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>